/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f9f9;
    color:violet #333;
    line-height: 1.6;
}

/* Navigation */
header {
    background:lavender #222;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00bcd4;
}

/* Hero / About section */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-image img {
    width: 120px;     
    height: 120px;     
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #333;
}


/* Projects Grid */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    border-radius: 5px;
}

/* Contact page */
.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background: #222;
    color: white;
    border: none;

}


